body {
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: linear-gradient(to bottom right, rgb(54, 49, 49), rgb(177, 177, 156), rgb(75, 65, 65));
}
.introduction {
    margin: 20px;
    padding: 10px;
}
.introduction .profile_pic {
    float: left;
    margin-bottom: 30px;
    margin-right: 50px;
}
.introduction .profile_pic h1 {
    font-size: 2.5rem;
}
.profile_pic h1 strong {
    color: navy;

}
a {
    color: aqua;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
p, li {
    font-size: 1.5em;
}
.profile_pic img {
    width: 100%;
}
.intro-text p {
    margin: 10% auto;
    text-align: center;
    font-size: 2.0rem;
    padding-top: 30px;
}
main {
    display: flex;
    margin: 0 10px;
}
main span {
    color: rgb(133, 77, 5);
}
main h3 {
    border-bottom: 2px solid grey;
}
footer {
    display: flex;
    margin: 20px;
    border-top: 2px solid grey;
    justify-content: space-around;
}
footer .date p {
    display: inline;
    font-size: small;
}
footer .links a {
    margin: 10px;
}